{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>intro</title>
    <link rel="stylesheet" href="intro.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

</head>

<body>
<form class="boxint" >
    <h5>제 38대 동아리 연합회 벼리 X 멋쟁이 사자처럼 at SYU</h5>
    <h1>2021-2 동아리 홍보전</h1>
    <a href="home.html" class="subb">입장하기</a>
</form>

<img src= "{% base/static 'syu_logo.png' %}" class="loggg">

</body>
</html>