{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>syu-club</title>

  <link rel="stylesheet" href="{% static 'css/side.css' %}?after ">
  <script src="https://kit.fontawesome.com/d1c6c79e37.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="sidebar">
      <div class="sidebar_header">
        <h1>동아리 홍보전</h1>
        <div class="hide_Btn"><i class="fas fa-angle-double-left" id="CloseBtn"></i></div><br>
        <img class="admin_login" src="{% static 'admin_login.png' %}">

        {% if not user.is_authenticated %}
          <h4><a href="{% url 'loginhtml' %}">관리자로 로그인하기</a></h4>
        {% endif %}
        {% if user.is_authenticated %}
          <div class="admin_logout">
            반갑습니다.<br>{{user.username}}님!
            <a href="{% url 'logout' %}">LOGOUT</a>
          </div>
        {% endif %}
      </div>
        <div class="sidenav">
          <div class="dropdown">
            <button class="dropdown-btn">문화 체육 분과
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <button class="dropdown-all" onclick="location.href='1'">문화 체육 분과 모아보기
                <i class="fas fa-arrow-right"></i>
              </button>
              <a href="post/20">D.M</a>
              <a href="post/5">Firebat</a>
              <a href="#">Plague</a>
              <a href="post/24">Wings</a>
              <a href="post/18">랠리유</a>
              <a href="post/13">러너스하이</a>
              <a href="post/7">뷰파인더</a>
              <a href="post/15">빛감</a>
              <a href="#">악바리들</a>
              <a href="post/25">요소</a>
              <a href="post/2">클래시아</a> 
              <a href="post/8">화소</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropdown-btn">학술 분과
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <button class="dropdown-all" onclick="location.href='2'">학술 분과 모아보기
                <i class="fas fa-arrow-right"></i>
              </button>
              <a href="post/6">Creator</a>
              <a href="post/3">Draftmation</a>
              <a href="post/14">ELL</a>
              <a href="post/19">GDSC삼육</a>
              <a href="post/21">Su-Eco</a>
              <a href="post/16">TeamMFS</a>
              <a href="post/1">멋쟁이 사자처럼</a>
              <a href="post/12">불기둥</a>
              <a href="post/17">파이널컷</a>

            </div>
          </div>
          <div class="dropdown">
            <button class="dropdown-btn">종교 봉사 분과
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <button class="dropdown-all" onclick="location.href='3'">종교 봉사 분과 모아보기
                <i class="fas fa-arrow-right"></i>
              </button>
              <a href="post/9">ACT</a>
              <a href="post/10">RCY</a>
              <a href="post/4">동행길</a>
              <a href="#">뚜벅초가 간다</a>
              <a href="post/11">보담</a>
              <a href="post/22">심금</a>
              <a href="post/26">온소리</a>
              <a href="#">천명 게이트</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropdown-btn">기타
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a href="post/28">VOS</a>
            </div>
          </div>
        </div>
        <div class="sidebar_footer"><span>© 삼육대학교 38대 벼리 동아리연합회 | <br>
          멋쟁이 사자처럼 at 삼육대학교 9기<br>
          <br>
          개발진 | 김지연 박미란 박세연 박현서 성예지 이민주 이보람<br>
          이지수 윤예빈 정하늘 주미진 최정은 함승우 황한슬
        </span></div>
    </div>

  <section class="section_side">
    <div class="menu_Btn"><i class="fas fa-bars" id="OpenBtn" style="font-size: 35px;"></i></div>
    <h1><a href="{% url 'home1' %}" style="text-decoration: none; color: white;">동아리 홍보전</a></h1>
    <div class="dday">
      <img class="dday_calendar" src="{% static 'dday_calendar.png' %}">
      <div class="counter"></div>
    </div>
    

  </section>

  <script>
   $(document).ready(function(){
        var target = $(".sidebar");

        $(document).on("click", "#OpenBtn", function (e){
            target.animate({left:'toggle'}, 500);
            target.addClass('emphasized');
            });
   
        $(document).on("click", "#CloseBtn", function (e){
            target.animate({left:'toggle'}, 0);
            target.removeClass('emphasized');
            });
        });

    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    $('.dropdown').on('click',function(){
        var postMenu = $(this).find('.dropdown-container');
        
        if( !postMenu.is(':hidden') ){
            $('.dropdown-container').hide();
            postMenu.show();
        }else{
            postMenu.hide() ;
        }
    });

    let counter = document.querySelector('.counter');
    let today = new Date(), //현재 날짜 가져오기
        dday = new Date("Sep 17,2021, 23:59:59").getTime(), //디데이
        gap = dday - today,
        result = Math.floor(gap / (1000 * 60 * 60 * 24));
        if (result == 0) {
          result = "DAY"
        }
    counter.innerHTML = `모집마감<br><h1>D-${result}</h1>`

  </script>
</body>
</html>