<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동아리 상세페이지</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">

    <script src="<https://code.jquery.com/jquery-3.6.0.js>"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script type="text/javascript">
        $('.gallery').slick({
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 3,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });
    </script>

    <!-- style 태그 css 파일로 -->

    <!--슬라이드 배너 효과 코드-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.gallery').slick({
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 3,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: true,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 3,
                            prevArrow: "<button type='button' class='slick-prev'>Prev</button>"
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: true,
                            centerMode: true,
                            centerPadding: '40px',
                            slidesToShow: 1,
                            nextArrow: "<button type='button' class='slick-next'>Next</button>"
                        }
                    }
                ]
            });
        });
    </script>


</head>

<body>    
    <nav_club>
        <h1 class="nav-title" style="font-weight: bold;">동아리 홍보전</h1>
        {% if user.id == club_id|add:1 or user.is_superuser %}
        <a href="{% url 'detailupdate' club_id %}">
            <img src="{% static 'nav_edit.png' %}" alt="ne로고"
                style="margin: 0px; width: 30px; position: absolute; top: 0; right: 20px;">
        </a>
        {% endif %}
    </nav_club>

    <img src="{{club.club_img.url}}" style="position: absolute; z-index: 0; width:100%; height:40%; top:50px;">
    <main_club>
        <a class="top_bookmark">
            <img src="{% static 'main_book.png' %}" alt="bm로고" class="top_bookmark">
            {% if club.club_type_id == 1 %}
            <p style="color: white; position:absolute; left: 13%; margin-top: 5%; font-size:1em;
            font-family: 'Noto Sans CJK KR-Medium', sans-serif;">문&nbsp화<br>체&nbsp육</p>
            {% elif club.club_type_id == 2 %}
            <p style="color: white; position:absolute; left: 13%; margin-top: 5%; font-size:1em;
            font-family: 'Noto Sans CJK KR-Medium', sans-serif;">학&nbsp술<br>분&nbsp과</p>
            {% elif club.club_type_id == 3 %}
            <p style="color: white; position:absolute; left: 13%; margin-top: 5%; font-size:1em;
            font-family: 'Noto Sans CJK KR-Medium', sans-serif;">종&nbsp교<br>봉&nbsp사</p>
            {% else %}
            <p style="color: white; position:absolute; left: 13%; margin-top: 5%; font-size:1em;
            font-family: 'Noto Sans CJK KR-Medium', sans-serif;">기&nbsp타</p>
            {% endif %}
        </a>
        {% if club.youtube_link %}
        <a class="top_youtube" target="_blank" href="{{club.youtube_link}}">
            <img src="{% static 'top_youtube.png' %}" alt="yb로고" class="top_youtube">
        </a>
        {% endif %}
        {% if club.facebook_link %}
        <a class="top_facebook" target="_blank" href="{{club.facebook_link}}">
            <img src="{% static 'top_facebook.png' %}" alt="fb로고" class="top_facebook">
        </a>
        {% endif %}
        {%if club.instagram_link %}
        <a class="top_instagram" target="_blank" href="{{club.instagram_link}}">
            <img src="{% static 'top_instagram.png' %}" alt="ig로고" class="top_instagram">
        </a>
        {% endif %}

        <article_main_club>
            <img src="{{club.club_logo.url}}" class="static">
            <h1 class="main-title" style="font-family: 'Noto Sans CJK KR-Bold', sans-serif;">{{club.club_name}}</h1>
            <p class="intro" style="font-family: 'Noto Sans CJK KR-Regular', sans-serif;">{{club.club_desc}}</p>
            <input type="button" name="submit" class="button_a" value="지원하기"
                style="font-family: 'Noto Sans CJK KR-Medium', sans-serif;">
        </article_main_club>

    </main_club>

    <section_club>
        <article_section_club>
            <p class="club-title" style="font-family: 'Noto Sans CJK KR-Bold', sans-serif;">모집요강
                <hr style="width: 40%; height: 0.4%; background-color: gray;
                border: none; position:absolute; left: 0; margin: 5px;">
            </p>
                <p style="overflow:auto; height: 80%; font-size: 1em; margin: 0; font-family: 'Noto Sans CJK KR-Regular', sans-serif;">
                    {{club.recruitment_content}}
                </p>
        </article_section_club>
    </section_club>

    <div_club>
        <p class="club-title" style="font-family: 'Noto Sans CJK KR-Bold', sans-serif;">동아리 게시물
            <hr style="width: 40%; height: 0.4%; background-color:gray;
            border: none; position:absolute; left: 0; margin: 5px;">
        </p>

        {% if posts %}
        <!--<img src="{% static 'post_left.png' %}" id='slick-prev' style="width: 10%; position: absolute; bottom: 30%; z-index: 2; transform: translate(-40%);">
        <img src="{% static 'post_right.png' %}" id='slick-next' style="width: 10%; position: absolute; right:0; bottom: 30%; z-index: 2; transform: translate(40%);">-->

        <div class="gallery" style="overflow:auto; height: 80%; padding: 0px; position: relative; z-index: 0;">
            {% for post in posts %}
            <a href="{% url 'detail' club_id post.post_id %}">
            <div>
                <p style="background-color: #160f07; font-family: 'Noto Sans CJK KR-Regular', sans-serif;
                position: relative; position: absolute; bottom: 10px; z-index: 1; width: 220px; height: 30px; opacity: 0.8;
                color: white; font-size: 1em; margin: 0;">{{post.post_title}}</p>
                <img src="{{ post.post_img.url }}" style="width: 220px; height: 120px; border-radius: 5px;">
            </div>
            </a>
        {% endfor %}
        </div>

        {% else %}
        <h1 style="color: #6a6a6a; font-size:1em; text-align:center; position: relative; top:30px;
         margin: 0; font-family: 'Noto Sans CJK KR-Medium', sans-serif; font-weight:lighter;">등록된 동아리 게시물이 없습니다.</h1>
        {% endif %}

        {% if user.id == club_id|add:1 or user.is_superuser %}
        <a href="{% url 'new' club_id %}">
            <img src="{% static 'plus.png' %}" style="width: 30px; position: absolute; right:0; bottom: 80%;">
        </a>
        {% endif %}
    </div_club>

</body>

</html>