<h1>Write Post Page</h1>

<form action="{% url 'update' club_id post.post_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>제목: <input type="text" name="post_title" value="{{post.post_title}}"></p>
    <p>내용: <input type="text" name="post_content" value="{{post.post_content}}"></p>
    <p>CharField 일 경우 이미지: <input type="url" name="post_img_url" value="{{post.post_img_url}}"></p>
    <p>ImageField 일 경우 이미지: <input type="file" name="post_img"></p>
    <button type="submit">Submit</button>
</form>