<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'post_edit.css' %}">
</head>

<body>
    <form action="{% url 'update' club_id post.post_id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <nav>
            <p class="club_nav">
                <!-- <a href="#">menu</a> -->
                <a href="{% url 'home1' %}" id="top">동아리 홍보전</a>
            </p>
        </nav>
        <div class="post_detail_container" id="postdetail">
            <div class="post_detail">
                <div class="post_top">
                    <a href="{% url 'home' club_id %}" class="post_list"><img src="{% static 'post_close.png' %}"
                            class="close"></a>
                    <div class="inline">
                        <textarea class="title" name="post_title" cols="28" row="5">{{post.post_title}}</textarea>
                    </div>
                </div>
                <p class="create">{{post.updated_at}}</p>
                <div class="post_background">
                    <div class="img_content">
                        <label for="img" class="img_width"></label>
                        <input type="file" name="post_img" class="img_width1" id="img">
                        <img src="{% static 'img.png' %}" alt="게시물 사진입니다." class="post_img">
                    </div>
                </div>
            </div>
            <div class="post_content">
                <textarea wrap="hard" class="content" name="post_content" cols="28" row="15" placeholder="  게시물 내용을 입력하세요">{{post.post_content}}</textarea>
            </div>
            <button class="submit" type="submit">업로드</button>
        </div>
    </form>
</body>

</html>