@font-face {
  font-family: 'twaysky';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.section_side {
  padding: 5% 4%;
  width: 100%;
  height: 100%;
  color:white;
  /* background: linear-gradient(#240E51, #4D29A8); */
  background-color: transparent;

}

.dday{
  display: inline-flex;
}

@media (min-width:330px) {
.dday_calendar {
  width: 39px;
  height: 41px;
}}

@media (max-width:330px) {
.dday_calendar {
  width: 0px;
  height: 0px;
}}

.counter {
  padding-left: 3px;
  text-align: center;
  display: inline-block;
}

.counter>h1{
  display: inline-block;
}

.sidebar {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #EAE5E3;
  color: white;
  width: 300px;
  max-width: 90%;
  z-index: 9999;
  min-height: 100vh;
  padding-bottom: 110px;
  /* background-color: #8774ac; */
}

.sidebar_header {
  display: block;
  background-color: rgb(118 118 118);
  /* background: linear-gradient(#070639, #4b3577);    */
}

.sidebar_footer {
  position: absolute;
  text-align: left;
  display: block;
  color: black;
  background-color: rgb(216, 216, 216);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.sidebar_header>a>h1 {
  font-family: 'twaysky';
  padding-top: 30px;
  padding-left: 20px;
  font-size: 22px;
  color: white;
  /* font-weight: bold; */
}

.sidebar_header>h4 {
  margin-left: 65px;
  margin-top: 63px;
}

.sidebar_header>h4>a:link {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.sidebar_header>h4>a:hover {
  color: white;
  text-decoration: none;
}

.sidebar_header>h4>a:visited {
  color: white;
  text-decoration: none;
}

.emphasized {
  box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
}

.admin_login {
  width: 60px;
  margin: 10px;
}

.admin_logout {
  font-size: 1.3rem;
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  color: #4b3577;
  font-weight: bold;
}

.admin_logout>a {
  color: white;
  font-size: 15px;
}

.hide_Btn {
  position: absolute;
  right: 0;
  font-size: 30px;
  color: white;
  padding-top: 17px;
  padding-right: 20px;
}

.menu_Btn {
  position: relative;
  font-size: 25px;
  color: white;
}

.menu_Btn:hover {
  color:#FED700;
}

.section_side{
  display: flex !important;
  justify-content: space-between;
}

.section_side>h1 {
  letter-spacing: -0.05rem;
  padding-top: 2%;
  font-family: 'twaysky';
  font-size: 22px;
  display: block;
  position: absolute;
  text-align: center;
  z-index: 0;
  left: calc(50% - 76px);
}



.sidenav {
  width: 300px;
  z-index: 1;
  background-color:#4b3577;
  overflow-x: hidden;
  margin-top: 0px;
}

.sidenav a, .dropdown-btn, .dropdown-all {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a {
  font-size: 17px;
  color: black;
  text-decoration: none;
}

.dropdown-btn {
  color: #e4e4e4;
}

.sidenav a:hover {
  color: black;
  text-decoration: none;
}

.dropdown-btn:hover {
  color: white;
}

.active {
  background-color: transparent;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #EAE5E3;
  overflow: auto;
}

.dropdown-all {
  background-color:#9c85ca;
}

.fa-caret-down, .fa-arrow-right {
  float: right;
  padding-right: 8px;
  padding-top: 3px;
}

.user{
  display: block;
  position: relative;
}

.user>div{
  display: flex;
  align-items: center;
}

.user>div>span{
  font-size: 1.4rem;
  color: #c4c4c4;
}

.user>div .user_name{
  color: white;
}

.user h4 a{
  font-size: 1.5rem;
  color: white;
  position: relative;
  padding: 2px 0;
}

.user h4 a::after{
  position: absolute;
  content: "";
  background-color: rgb(189, 189, 189);
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
}