{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel=stylesheet href="{% static 'update.css' %}" >
    <title>Update</title>
    <!-- <link rel="stylesheet" href="update.css"> -->
    <script>
      function ckLength()
      {
         if (form.text.value.length > 40)
         {
             alert("40자 내외로 적어주세요!");
             form.text.value =  form.text.value.substr(0, 40);
         }
      }
      </script>
     
  </head>

  <body>
    <!-- nav바 (menu, 동아리 홍보전) -->
    <div>
      <div style="
      display: flex;
      height: 50px;
      width: 100%;
      align-items: center;
      position:relative;
  ">
      <a href="{% url 'home' club_id %}" class="href"
        ><img src="{% static 'update_close.png' %}" class="update_img"
      /></a>
      <p class="club_nav">
        <!-- <a href="#">menu</a> -->
        <a href="{% url 'home1' %}" id="top">동아리 홍보전</a>
      </p>
    </nav>
  </div>

    <!-- 내용 -->
    <form
      name="form"
      action="{% url 'detailupdate' club_id %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <!--  이미지 미리보기  -->
      <div class="image-container">
        <!-- <img src="../static/sea.jpg" id="preview-image"> -->
        <!-- <img src="{% static 'sea.jpg' %}" alt="활동사진" id="preview-image"> -->
        <div class="img_change">
          <img
          src="{{ club.club_img.url }}"
          alt="활동사진"
          name="club_img"
          class="__img"
          id="preview-image"
        />      
        <label for="input-image" class="cover_img_width"></label>
        <input type="file" id="input-image" name="club_img" class="cover_img" />
      </div>
        <div class="checkbox_container">
    <p style="
    color: #434343;
    font-weight: bold;
">이미지를 수정하겠습니까?</p>
          <input id="selected" type="checkbox" name="selected" value="checked">
          <label for="selected" class="checkbox"></label>
        </div>

      </div>

      <!-- no1 -->
      <section class="no1">
        <!-- circle -->
        <div class="circle_pic">
          <!-- <img src="../static/lion.jpg" alt=""> -->
          <!-- <img src="{% static 'lion.jpg' %}" alt="동아리 로고"> -->
          <img src="{{ club.club_logo.url }}" alt="동아리 로고" />
        </div>
        <!-- club -->
        <div class="club">
          <p class="name">{{club.club_name}}</p>
          <textarea
            id="text"
            name="club_desc"
            class="introduce"
            cols="10"
            rows="3"
            value="{{ club.club_desc }}"
          >
{{ club.club_desc }}</textarea
          >
        </div>
      </section>
      <section>
        <div class="formlink">
          <p class="name">지원링크</p>
          <textarea 
            name="form_link" 
            class="apply"
            col="10"
            rows="3"
            placeholder="지원 링크 입력"
            value="{{ club.form_link }}">
{{ club.form_link }}</textarea>
        </div>
      </section>

      <!-- no2 -->
      <section class="no2">
        <!-- box -->
        <div class="box">
          <p class="text">모집 요강</p>
          <hr class="line" width="85%" />
          <textarea
            name="recruitment_content"
            class="recruitment_content"
            cols="30"
            rows="14"
            value="{{ club.recruitment_content }}"
          >
{{ club.recruitment_content }}</textarea
          >
        </div>
        <!-- upload -->
        <button type="submit" class="upload">업로드</button>
      </section>
    </form>

    <!-- js -->
    <!-- 이미지 미리보기 -->
    <script type="text/javascript">
      function readImage(input) {
        // 인풋 태그에 파일이 있는 경우
        if (input.files && input.files[0]) {
          // 이미지 파일인지 검사 (생략)
          // FileReader 인스턴스 생성
          const reader = new FileReader();
          // 이미지가 로드가 된 경우
          reader.onload = (e) => {
            const previewImage = document.getElementById("preview-image");
            previewImage.src = e.target.result;
          };
          // reader가 이미지 읽도록 하기
          reader.readAsDataURL(input.files[0]);
        }
      }
      // input file에 change 이벤트 부여
      const inputImage = document.getElementById("input-image");
      inputImage.addEventListener("change", (e) => {
        readImage(e.target);
      });

      function checkLength(text) {
if (text.value.length > 100 ) {
text.blur();
text.value = text.value.substring(0, 10);
alert('10자 이내로 입력');
text.focus();
return false;
}
}


    </script>
  </body>
</html>
