@charset "utf-8";

body{
    background-color:#f4f0ee;
    width: 100%;
    margin: 0;
    text-align: center;
}


/* nav바 (menu, 동아리 홍보전) */
.club_nav{
    background-color:#f4f0ee;
    height: 35px;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    /* padding: 0; */
    padding-top: 5%;
}
.club_nav>a{
    text-decoration-line: none;
    color:#494949;
    font-weight: bold;
    font-size: 120%;
    /* text-align: center; */
}


/* pic,name */

/* .big_pic{
    background-color: #9f9c9b;
    width: 200%;
    height: 180px;
    margin-top: 30%;
} */
.big_pic{
    width: 100%;
}

.image{
    max-width: 100%;
    height: auto;
    margin-top: 20%;
}
/* 
.club_intro{
    display: inline-block;
    float: left;
    margin: 0 auto;
    margin-left: 25px;
} */
.circle_pic{
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}
.circle_pic>img{
    /* background-color: #727373; */
    /* color: white; */
    /* text-align: center; */
    width: 110px;
    height: 110px;
    line-height: 50px;
    border-radius: 50%;
    /* float: left; */
}
.club{
    display: inline-block;
    /* float: left; */
    margin-right: 15%;
}
.name{
    color: #4a4a4a;
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 0;
}

.introduce{
    background-color: #f4f0ee;
    color: #817f7e;
    border-color: #727373;
    font-weight: normal;
    font-size: 80%;
    border-style: solid;
    border-color: #b9b9b9;
    width: 130%;
    height: 70px;
    /* text-align: left; */
}


/* box*/
.box1{
    width: 90%;
    height: 110px;
    background-color: white;
    border-radius: 20px;  
    margin: auto;
}
.box2{
    width: 90%;
    height: 230px;
    background-color: white;
    border-radius: 20px;  
    margin: auto;
}
.box3{
    width: 90%;
    height: 100px;
    background-color: white;
    border-radius: 20px;  
    margin: auto;
}

.text{
    color: #000;
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.content1{
    color: #9f9c9b;
    font-weight: bold;
    border-style: hidden;
    border-radius: 10px;
    width: 85%;
    height: 170px;
}
.content2{
    color: #9f9c9b;
    font-weight: bold;
    border-style: hidden;
    border-radius: 10px;
    width: 85%;
    height: 40px;
}

.date{
    margin-left: 20px;
}
.sign{
    background-color: #e3e3e3;
    border-color: #fff;
    border-style: hidden;
}
.upload{
    background-color:#4d4d4d;
    color: #f4f0ee;
    border-radius: 5px;  
    width: 90%;
    height: 40px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 5%;
}