@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {font-size: 1px;}
body {font-size: 1rem;}

body{
    margin: 0;
    padding: 0;
    background-image: url('star.jpg');
    background-size : auto;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.box h5{
    font-family: 'EliceDigitalBaeum_Bold';
    color: rgb(255, 255, 0);
    font-size: 16rem;
}

.box h1{
    font-family: '국립박물관문화재단클래식B';
    color: rgb(255, 255, 255);
    text-shadow: 2rem 4rem 2rem rgb(0, 0, 0);
    font-size: 32rem;
}

.box h3{
    font-family: '국립박물관문화재단클래식B';
    color: rgba(255, 255, 255, 0.658);
    font-size: 20rem;
}

.box input[type = "submit"]{
    border: 0;
    display: block;
    margin: auto;  
    padding: 15rem 10rem;
    width: 130rem;
    outline: none;
    color: rgb(255, 230, 0);
    border-radius: 10px;
    cursor: pointer;
    background: #000000;
    font-family: '국립박물관문화재단클래식B';
    font-size: 16rem;
}


@media (min-width:0) and (max-width: 500px) { 
    .box h5{
        font-size: 12rem;
    }
    
    .box h1{
        font-size: 25rem;
    }
    
    .box h3{
        font-size: 14rem;
    }
    
    .box input[type = "submit"]{
        padding: 12rem 10rem;
        width: 100px;
        font-size: 13rem;
    }
}