<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login1</title>
    <link rel="stylesheet" href="login1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form class="box" action="animatedLogin.html" method="post">
    <div class="on1">온라인 동아리전</div>
    <div class="on2">동아리 연합회 벼리 X 멋쟁이 사자처럼 at SYU</div>
    <input type="text" name="" placeholder="Username">
    <input type="password" name="" placeholder="Password">
    <input type="submit" name="" value="SIGN UP">

</form>

</body>
</html>