@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #301c5e;
}

.box{
    width: 350px;
    padding: 150px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f1f1f1;
    text-align: center;
    border-radius: 10px;
}

.box h1{
    text-align: center;
    margin-bottom: 10px;
    font-family: '국립박물관문화재단클래식B';
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.box h4{
    text-align: center;
    font-family: 'EliceDigitalBaeum_Bold'; 
}

.box input[type = "text"],.box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #7e7e7e;
    padding: 14px 10px;
    width: 280px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    border-color: rgb(15, 13, 112);
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 40px;
    width: 300px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    background: #342372;
}

.box input[type = "submit"]:hover{
    display: block;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    background:rgb(39, 11, 83);
    transition: .5s;
} 