<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="login.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <form action="animatedLogin.html" class="login-form">
      
        <div class="on11">온라인 동아리전</div>
        <div class="on22">동아리 연합회 벼리 X 멋쟁이 사자처럼 at SYU</div>
        
        <div class="txti">
            <input type="text">
            <span data-placeholder="Username"></span>
        </div>

        <div class="txti">
            <input type="password">
            <span data-placeholder="Password"></span>
        </div>

        <input type="submit" class="sub" value="SIGN UP">

        
    </form>

    <script type="text/javascript">
        $(".txti input").on("focus",function(){
            $(this).addClass("focus");
        });

        $(".txti input").on("blur",function(){
            if($(this).val() == "")
            $(this).removeClass("focus");
        })
    </script>

</body>
</html>