@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {font-size: 1px;}
body {font-size: 1rem;}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #301c5e;
}

.box{
    width: 350rem;
    padding: 150rem 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f1f1f1;
    text-align: center;
    border-radius: 10px;
}

.on1{
    text-align: center;
    margin-bottom: 10rem; 
    font-family: '국립박물관문화재단클래식B';
    color: rgb(0, 0, 0);
    font-size: 35rem;
}

.on2{
    text-align: center;
    margin-bottom: 30rem; 
    font-family: 'EliceDigitalBaeum_Bold'; 
    font-size: 16rem;
}

.box input[type = "text"],.box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 10rem auto;
    border: 2px solid #7e7e7e;
    padding: 14rem 10rem;
    width: 280rem;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.25s;
    font-size: 16rem;
}

.box input[type = "text"]{
    margin-bottom: 10rem; 
}

.box input[type = "password"] {
    margin-bottom: 20rem; 
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    border-color: rgb(15, 13, 112);
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 10rem auto;
    padding: 14rem 40rem;
    width: 300rem;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    background: #342372;
    font-size: 16rem;
}

.box input[type = "submit"]:hover{
    display: block;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    background:rgb(39, 11, 83);
    transition: .5s;
} 

@media (min-width:0) and (max-width: 500px) { 
    html {font-size: 0.7px;}
}