@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {font-size: 1px;}
body {font-size: 1rem;}

body {
    margin: 0;
    padding: 0;
    background-image: url('../../onlineclub/static/intro_back_img.jpg');
    background-size : auto;
}

.boxint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.boxint h5 {
    font-family: 'EliceDigitalBaeum_Bold';
    color: rgb(255, 255, 0);
    font-size: 22rem;
    margin-bottom: 45rem; 
}

.boxint h1 {
    font-family: '국립박물관문화재단클래식B';
    color: rgb(255, 255, 255);
    text-shadow: 2rem 4rem 2rem rgb(0, 0, 0);
    font-size: 38rem;
    margin-bottom: 45rem; 
}

.subb {
    border: 0;
    display: block;
    margin: auto;  
    padding: 15rem 10rem;
    width: 325rem;
    outline: none;
    color: rgb(255, 230, 0);
    border-radius: 10px;
    cursor: pointer;
    background: #0000008e;
    font-family: '국립박물관문화재단클래식B';
    font-size: 16rem;
    text-decoration:none;    
}

.subb:hover {
    box-shadow:
     4px 4px 5px 0px #fff9,
     7px 7px 20px 0px #fff9,
     -4px -4px 5px 0px #0002,
     -7px -7px 20px 0px #0001;
    transition: all 0.3s ease;
    color: #fff;
  }

.loggg {
    width: 125rem;
    height: auto;
    position: fixed;
    bottom: 4%;
    left:0;
    right:0;
    margin: 0 auto;
}
  

@media (min-width:0) and (max-width: 772px) { 
    body {
        background-image: url('../../onlineclub/static/intro_back_img.jpg');
        background-size : cover;
    }

    .boxint {
        width: 85%;
    }

    .boxint h5 {
        font-size: 14rem;
    }
    
    .boxint h1 {
        font-size: 29rem;
    }
    
    .subb {
        padding: 11rem 9rem;
        width: 250px;
        font-size: 14rem;
    }

    .loggg {
        width: 100rem;
    }
}